body {
    background-color: #F6F8F8;
    font-family: sans-serif;
    color: #3D3D3D;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    
}

.header {
    text-align: center;
    color: #3D3D3D;
    font-size: 32px;
    text-shadow: 1px 1px #3D3D3D

}

#sketchpad {
    display: grid;
    grid-template-columns: repeat(var(--grid-row), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    width: 500px;
    height: 500px;
    box-shadow: #382451 0px 3px 15px;
    border-radius: 10px;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbd4db8e;
    gap: 25px;
    width: 200px;
    max-height: 500px;
    border-radius: 25px;
    box-shadow: #382451 0px 3px 8px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    width: 80%;
    border: 1px solid black;
}

button.active {
    background-color: #382451;
    color: #fefefe;
}

#pick-color-button {
    padding: 0;
    width: 80%;
    margin-top: 20px;
    border-radius: 15px;
    height: 36px;
    background-color: black;
}
button:hover,
input[type='color']:hover {
    transform: scale(1.05);
  }
  
  
  input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  button,
  input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    box-shadow: #382451 0px 3px 8px;
  }
  
.grid {
    border: 1px solid black;
    border-radius: 1px;
    background-color: #dbd4db8e;
}

#textInput {
    color: #3D3D3D;
    font-size: 18px;
    margin-bottom: -20px;
}

#slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;  
    border: 1px solid black;
    background: #F6F8F8;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #382451;
    cursor: pointer;
  }
  
  #slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #382451;
    cursor: pointer;
  }