body {
    background-color: #252525;
    font-family: sans-serif;
    color: aliceblue;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    
}

.header {
    text-align: center;
    color: aliceblue;
    font-size: 32px;

}

#container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(var(--grid-column), 1fr);
    grid-template-rows: repeat(var(--grid-row), 1fr);
    border: 1px solid aliceblue;
    align-items: center;

}

.grid {
    padding: 15px;
    background-color: aliceblue;
}

.grid:hover {
    background-color: black;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #332940;
    width: 200px;
    gap: 25px;
    max-height: 500px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    width: 80%;
}

input {
    padding: 0;
    width: 80%;
    height: 100px;
    margin-top: 20px;
}